body{
    background-color:rgb(97, 154, 204)
    
}
h1{
    color:brown;
}
h3{
    color: blue;
}
hr{
    background-color: white;
    border-style:dotted;
 border-color: rgb(23, 24, 26);
 border-width: 1.5px;
    height: 1.5px;
}